@import "_variables.scss";
/* INICIO  */
#inicio {
  background-image: url("..//img/IMG_8774\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 57vh;
  left: -6.13px;
  top: -350.32px;
}  
#productos{
  img{
    opacity: .5;
    &:hover{
opacity: 1;
    }
  }
}

// SWEET ALERT
.titleSweet{
font-family: "SF Pro";
font-size: 1rem;
font-weight: 700;
line-height: 40px;
letter-spacing: -0.3333333432674408px;
text-align: left;
} 
.flexSweet{
  display: flex !important;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // // align-content: center;
    padding-left: 2rem;
  }
  input{
    background-color: #A3A3A3;
    border: none;
    font-family: "SF Pro";
font-size: .8rem;
// font-weight: 700;
line-height: 40px;
letter-spacing: -0.3333333432674408px;
text-align: left;
border-radius: .5rem;
  }
.placeholder{  font-family: SF Pro Text;
font-size: 14px;
font-weight: 300;
line-height: 20px;
letter-spacing: -0.3333333432674408px;
text-align: left;
}
.btnSweet{
  background: linear-gradient(0deg, #E9555E, #E9555E);
  color:#FFFFFF;
  ;
width: 100px;
height: 33px;
font-family: SF Pro Text;
font-size: .8rem;
font-weight: 600;
line-height: 17px;
letter-spacing: -0.3333333432674408px;
text-align: center;
border: none;
border-radius: .5rem;
}
.borde{
  border-radius: .5rem;
}
.card-body{
  padding: 0;
  img{
    opacity: .7;
    &:hover{
      opacity: 1;
    }
  }
}
// .carousel-item{
//   // transition: transform 0.3s ease-in-out
// }
#conociendonos{
  margin-top: 5rem;
  font-size: .8rem;
  .conociendonos {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 2rem;
  @include desktop{
    padding-left: 5%;
    padding-right: 15%;
  }
  }
  .conociendonosFoto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
  
  .conociendonos_texto_salmon {
    color: #E9555E;
    font-size: .8;
    font-family: 'SF Pro';
      font-weight: 300;
  }
  .conociendonos_texto_salmonFuerte{
    font-weight: 900;
  }
  
  .conociendonos_texto_simple {
    font-size: .8;
    font-weight: 700;
  }
  
  .nosotras {
    font-size: .8;
    font-family: 'SF Pro';
    font-weight: 900;
  }
  
  .conociendonos_texto_final {
    font-size: .8;
    font-family: 'SF Pro';
    font-weight: 300;
  }
}
.row {
  --bs-gutter-x: 0;
}
.whatsapp {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 1;
  background-color: transparent;
  a{
    background-color: transparent;
    
  }
}

.whatsapp-icon {
 width: 80%;
  background-color: transparent;
  &:hover{
    width: 100%;
    opacity: .7;
  }
}